.description {
   padding: 10px;
}

.description img {
   width: 128px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.status {
   color: darkcyan;
}

.contact {
   padding-left: 15px;
}