.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogs_items {
   padding: 20px;
}

.dialog.active a {
   color: midnightblue;
   font-weight: bold;
}

.messages_items {
   padding: 20px;
}